html
    head
    body
        form(action='/create' method='POST')
            div 
                label(for="name") name
                input(id='name' name='name')
            div 
                label(for="email") email
                input(id='email' name='email')
            div 
                input(type='submit')