include ./mixin

html
    head
        title This is my title
    body
        h1 Fill me out

        form(action='', method='POST')
        div
            +textInput('userID', 'User Id: ')
        div
            +textInput('name', 'Name: ')
        div
            +textInput('email', 'Email: ')
        div

        input(type='submit' value='Submit')        